{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}


<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		
		<form class="form" style="padding-top: 70px;" method="post" action="{% url 'login' %}">
			{% csrf_token %}
			{{form.username.label}}
			{{form.username | add_class:"form-control"}}
			<br>
			{{form.password.label}}
			{{form.password | add_class:"form-control"}}
			<br>
			
			<input class="btn btn-success btn-block" type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}