{% extends "base.html" %}

{% block content %}
<div class="post">
    {% if user.is_authenticated %}
        <a class="btn btn-default edit-btn" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default edit-btn" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
    {% if post.published_date %}
        <div class="date">
            {{post.published_date}}
        </div>
    {% elif not post.published_date and user.is_authenticated%}
        <a class="btn btn-default edit-btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.to_html|safe|linebreaksbr }}</p>
</div>
<hr>
{% if post.published_date %}
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved %}
            <div class="comment">
                <div class="date">
                    {{ comment.create_date }}
                </div>
                {% if not comment.approved and user.is_authenticated %}
                    <a class="btn btn-default edit-btn" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove edit-btn"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
        <a class="btn btn-default comment-btn" href="{% url 'add_comment' pk=post.pk %}">Add Comment</a>
{% endif %}
{% endblock %}