{% extends "base.html" %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <p class="date">
            created: {{ post.create_date|date:'d-m-Y' }}
        </p>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.to_html|safe|truncatechars:200 }}</p>
    </div>
{% endfor %}
{% endblock %}