{% extends "base.html" %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                {% endif %}
                <h1><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h1>
                <p>{{ post.to_html|safe|linebreaksbr|truncatechars:200 }}</p>
                <a href="{{post.get_absolute_url}}"><span class="glyphicon glyphicon-comment"><span class="badge">{{post.comments.count}}</span></span></a>
            </div>
        {% endfor %}
    {% else %}
        <h1>Unfortunately: there is no entry</h1>
    {% endif %}
{% endblock content %}
