{% extends "base.html" %}

{% block content %}
<h1>New Post</h1>
<form action="{% url 'post_new' %}" class="post-form" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
    {{form.as_p}}
    <input type="submit" class="btn btn-default save" value="Save">
</form>
{% endblock %}
